
 button {
   float: left;
   margin: 5px;
   border: none;
   outline: none;
   background: transparent;
   border: 2px solid lightgrey;
}

.lng-btn {
  margin-left: 10px;
}

.lng-btn button {
  border-radius: 20px;
  padding: 7px 12px 7px 12px;
}
